{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static%}
{% block content %}
<h1>Обо мне</h1>
<article>
  <p>
    Я очень давно хотел стать программистом и лишь недавно начал свой путь. Мне очень нравится писать код и особенно решать сложные задания.
    Неописать словами чувство удовлетворения после того, как ты несколько часов пытался что-то решить и у тебя всё вышло. Программированние мне нравится тем, 
    что оно не стоит на месте и тебе всегда нужно узнавать что-то новое, решать всё более сложные задачи. Меня безумно притягивает постоянное развитие и столкновение с
    ещё более трудными заданиями.
  </p>
  <hr>
</article>
<article>
  <h4>Мои аккаунты в социальных сетях</h4>
  <ul> 
    <li><a href="https://vk.com/rexper403"><img src={%static "img/vk_logo.png"%} width="30" height="30"></a>
        Вконтакте 
    </li>
    <li><a href="https://github.com/ripKrul"><img src={%static "img/github_logo.png"%} width="30" height="30"></a>
        GitHub
    </li>
  </ul>
</article>
{% endblock %} 